.footer-dark
    footer
        .container
            .row
                .col-sm-6.col-md-3.item
                    h3 Services
                    ul
                        li
                            a(href='#') Web design
                        li
                            a(href='#') Development
                        li
                            a(href='#') Hosting
                .col-sm-6.col-md-3.item
                    h3 About
                    ul
                        li
                            a(href='#') Company
                        li
                            a(href='#') Team
                        li
                            a(href='#') Careers
                .col-md-6.item.text
                    h3 Company Name
                    p
                        | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
                .col.item.social
                    a(href='#')
                        i.icon.ion-social-facebook
                    a(href='#')
                        i.icon.ion-social-twitter
                    a(href='#')
                        i.icon.ion-social-snapchat
                    a(href='#')
                        i.icon.ion-social-instagram
            p.copyright Company Name &copy; 2017
